#board li{
	float:left;
	width: 100px;
	height: 100px;
	text-align: center;
	list-style: none;
	display: block;
}

.unclicked{
	cursor: pointer;
}

.crossed{
	background: url(../img/x.png) center center no-repeat;
}

.ooed{
	background: url(../img/o.png) 0 0 no-repeat;
}

.ooed.winner{
	background-position: 0px -100px;
}

#board{
	margin: 0;
	padding: 0;
	background: url(../img/board.png) center center no-repeat;
	overflow: hidden;
}